@import url(defaultTheme.css);

.container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 0.5%);
}

.search-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    background-color: var(--input-bg-color);
    padding: 5px 10px;
}

#input-search {
    font-size: 2rem;
    display: inline;
    width: 100%;
    border: none;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.recipes {
    flex: 1;
    overflow-y: auto;
    border-radius: 15px;
    background-color: transparent;
    padding: 0;
    margin-top: 0.4rem;
}

#recipes-list {
    background-color: transparent;
    list-style: none;
    padding: 0 2px;
}

#recipes-list:first-child {
    margin-top: 0;
}

.recipe-list-item {
    background-color: var(--card-bg-color);
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 2px;
    border: 1px solid var(--border-color);
}

.recipe-info-block {
    display: flex;
    flex-direction: column;
}

.recipe-image {
    text-align: center;
    max-height: 10rem;
    border-radius: 15px;
    object-fit: cover;
}

.recipe-info h3 {
    margin: 0;
    color: var(--header-color);
}

.recipe-info p {
    margin: 0;
    color: var(--text-color);
}

.ingredient-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.7em;
    padding: 0;
}

.ingredient-list-item {
    background-color: var(--ingredient-bg-color);
    color: var(--ingredient-text-color);
    padding: 2px 5px;
    border-radius: 10px;
    margin-right: 1px;
    margin-bottom: 2px;
}

.add-recipe-block {
    background-color: transparent;
    margin-top: 0.5rem;
    border-radius: 15px;
}

#add-recipe-button {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    transition: background-color 0.3s;
}

#add-recipe-button:hover {
    background-color: #0056b3;
}