@import url(defaultTheme.css);

.container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 0.5%);
}

.search-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    background-color: var(--input-bg-color);
    padding: 5px 10px;
}

#input-search {
    font-size: 2rem;
    display: inline;
    width: 100%;
    border: none;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.recipes {
    flex: 1;
    overflow-y: auto;
    border-radius: 15px;
    background-color: transparent;
    padding: 0;
    margin-top: 0.4rem;
}

#recipes-list {
    background-color: transparent;
    list-style: none;
    padding: 0 2px;
}

#recipes-list:first-child {
    margin-top: 0;
}

.recipe-list-item {
    background-color: var(--card-bg-color);
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 2px;
    border: 1px solid var(--border-color);
}

#sort-block {
    color: var(--text-color);
    margin: 0.2em 0.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sort-field-select {
    max-width: 70%;
    text-overflow: ellipsis;
}

#sort-field-select {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-size: 1em;
    border-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe-info-block {
    display: flex;
    flex-direction: column;
}

.recipe-image {
    text-align: center;
    max-height: 13em;
    border-radius: 15px;
    object-fit: cover;
}

.recipe-info {
    margin-top: 0.3em;
    margin-left: 0.1em;
}

.recipe-info h3 {
    margin: 0;
    color: var(--header-color);
}

.recipe-info p {
    margin: 0;
    color: var(--text-color);
}

.ingredient-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.7em;
    padding: 0;
}

.ingredient-list-item {
    background-color: var(--ingredient-bg-color);
    color: var(--ingredient-text-color);
    padding: 2px 5px;
    border-radius: 10px;
    margin-right: 1px;
    margin-bottom: 2px;
}

.add-recipe-block {
    background-color: transparent;
    margin-top: 0.5rem;
    border-radius: 15px;
}

#add-recipe-button {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    transition: background-color 0.3s;
}

#add-recipe-button:hover {
    background-color: #0056b3;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

#sort-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: var(--card-bg-color);
    color: var(--text-color);
    transition: bottom 0.2s ease;
    z-index: 1000;
}

#sort-options h3 {
    margin: 0 0 1em 0;
}

#sort-options div {
    margin-bottom: 1.2em;
}

#sort-options.show {
    bottom: 0;
}

#sort-options.element-info {
    border-radius: 25px 25px 0 0;
    padding: 0.7em;
    background-color: var(--card-bg-color);
}

#filter-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: var(--card-bg-color);
    color: var(--text-color);
    z-index: 1000;
    transition: bottom 0.2s ease;
}

#filter-options h3 {
    margin: 0 0 1em 0;
}

#filter-options h4 {
    margin: 0 0 1em 0;
}

#filter-options div {
    margin-bottom: 1.2em;
}

#filter-options.show {
    bottom: 0;
}

#filter-options.element-info {
    border-radius: 25px 25px 0 0;
    padding: 0.7em;
    background-color: var(--card-bg-color);
}

#sort-button {
    background-color: var(--input-bg-color);
    border-radius: 5px;
    border: none;
}

#sort-button img {
    max-width: 2em;
}

#filter-button {
    background-color: var(--input-bg-color);
    border-radius: 5px;
    border: none;
}

#filter-button img {
    max-width: 2em;
}

.manipulation-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.3em 0.2em;
}

#products-selector {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

#apply-filters-button {
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
}